{% extends 'base.html.twig' %}

{% block title %}Page About{% endblock %}

{% block body %}
    <main class="container">
        <section class="jumbotron text-center">
            <div class="container">
                <h1 class="jumbotron-heading">A propos de l'agence</h1>
                <p class="lead text-muted">AGSENSE prend en charge l’élaboration de vos projets voyages. Nos
                    project manager prennent en charge l’organisation et la coordination de vos évènements en veillant à
                    optimiser les coûts sans pour autant renoncer à un service optimal.</p>
            </div>
        </section>
        <div class="row g-5">
            <div class="col-md-8">
                <article class="blog-post">
                    <h2>AGSENSE</h2>
                    <p>
                        Des solutions sur mesure pour réaliser le voyage scolaire que vous rêvez pour votre classe. Une
                        équipe à votre
                        écoute du lundi au vendredi de 9:00 à 17:00 au 02 331 35 55 et un interlocuteur unique qui
                        suivra votre dossier de A à Z.</p>
                    <h3>AGSENSE vous propose ses différentes brochures :</h3>
                    <ul>
                        <li>Vos Voyages : circuits, séjours découverts et croisières accompagnés à travers la Belgique
                        </li>
                        <li>Entre Nous: L’art du voyage privatif à vivre à 2, en famille ou entre amis. Créez votre
                            voyage sur mesure pour une expérience unique avec vos étudiants.
                        </li>
                        <li>Laissez-vous inspirer par une expérience vibrante pleine de mode, de shopping, de
                            gastronomie, de culture et d'architecture. Quelles que soient les activités de votre
                            école, vous les trouverez à Anvers !
                        </li>
                    </ul>
                    <dl>
                        <dt>Nos incontournables circuits accompagnés</dt>
                        <dd>Combiner détente et découverte, avoir une vue d’ensemble d’un pays en visitant les lieux
                            incontournables, ne pas avoir à se soucier de la logistique, faire des rencontres... Il y a
                            beaucoup de raisons d’opter pour un circuit accompagné. Nous en avons fait notre spécialité
                            depuis de très nombreuses années. Et pour profiter au mieux des découvertes, des
                            commentaires des guides accompagnateurs et perdre moins de temps dans les transferts, nous
                            avons déterminé sur chaque destination un nombre maximum de personnes par groupe.
                            Laissez-vous guider !
                        </dd>
                        <dt>Convivialité et plaisir de l'itinérance</dt>
                        <dd>Les voyages en autocar vous offrent le monde au départ de votre région, à bord de notre
                            flotte de véhicules, de grand standing régulièrement renouvelée. Des voyages durant lesquels
                            vous bénéficierez de la présence de nos chauffeurs expérimentés, et, pour la plupart de nos
                            destinations, d’un guide conférencier. Nos guides locaux présents dans les principales
                            villes, auront également à cœur d’enrichir votre expérience. Entre
                            les pauses et les excursions, les routes majestueuses et les paysages inoubliables défilant
                            sous vos
                            yeux jusqu’à ce que vous pénétriez au cœur des villes.
                        </dd>
                        <dt>Envie d’ailleurs, besoin de faire un break sans partir au bout du monde ?</dt>
                        <dd>À quelques heures de route de votre domicile, profitez de la richesse
                            et de la sérénité d’un circuit complet, enrichi par les connaissances de guides accomplis :
                            Hainaut, Liège, Luxembourg, Namur, Limbourg, Anvers... Laissez-vous séduire par des paysages
                            envoûtants, des saveurs uniques et la promesse de rencontres inoubliables et bénéficiez du
                            “service plus” AGSENSE: le transfert au plus près de chez vous vers votre point de
                            départ.
                        </dd>
                    </dl>
                    <h3>Des voyages de groupes adaptés aux étudiants</h3>
                    <p>Pour les voyages en Belgique, à la carte ou les voyages sur mesure, indiquez-nous les régions que
                        vous souhaitez visiter, communiquez-nous le moindre de vos souhaits, afin de permettre à nos
                        spécialistes de l'Europe de préparer le programme de voyage spécialement à votre attention.</p>
                    <p>Vous souhaitez visiter la Belgique en individuel ou en autocar de location, c’est possible !</p>
                    <p>Notre expérience & nos compétences vous assurent un service de qualité, réalisé en accord avec
                        vos demandes et dans le respect de votre budget. Notre équipe reste à votre disposition afin de
                        répondre à toutes vos questions. Au plaisir de vous rencontrer.</p>
                </article>
                <article class="blog-post">
                    <h2 class="blog-post-title mb-1">Voyage scolaire selon un thème</h2>
                    <p>Si vos professeurs ou élèves ont pu constituer un beau budget pour leur voyage scolaire, nous
                        pouvons également vous proposer des destinations de vacances plus lointaines. La découverte
                        d’une autre culture est toujours synonyme d’enrichissement pour les élèves. Soumettez-nous vos
                        envies et vos exigences en termes de voyages éducatifs, et nous vous proposerons des séjours
                        scolaires sur mesure pour votre école, votre collège ou votre classe.</p>
                    <ul>
                        <li>Programmes culturels</li>
                        <li>Programmes balnéaires</li>
                        <li>Programme linguistique</li>
                    </ul>
                    <p>Nos collaborateurs sont à votre disposition pour créer le voyage qui vous correspond. Nous
                        accompagnons chaque professeur afin que son voyage soit une réussite.</p>
                </article>
            </div>

            <div class="col-md-4">
                <div class="position-sticky" style="top: 2rem;">
                    <div class="p-4 mb-3 bg-light rounded">
                        <h4 class="fst-italic">A propos</h4>
                        <p class="mb-0">Grâce à nos nombreuses années de pratique dans le domaine, nous pouvons
                            conseiller nos professeurs ou directeurs dans leur projet et leur offrir un service adapté à
                            ce qu’ils
                            recherchent.</p>
                    </div>

                    <div class="p-4">
                        <h4 class="fst-italic">Calendrier</h4>
                        <ol class="list-unstyled mb-0">
                            <li><a href="" style="text-decoration: none;">Janvier 2022</a></li>
                            <li><a href="" style="text-decoration: none;">Février 2022</a></li>
                            <li><a href="" style="text-decoration: none;">Mars 2022</a></li>
                            <li><a href="" style="text-decoration: none;">Avril 2022</a></li>
                            <li><a href="" style="text-decoration: none;">Mai 2022</a></li>
                            <li><a href="" style="text-decoration: none;">Juin 2022</a></li>
                            <li><a href="" style="text-decoration: none;">Juillet 2022</a></li>
                            <li><a href="" style="text-decoration: none;">Août 2022</a></li>
                            <li><a href="" style="text-decoration: none;">Septembre 2022</a></li>
                            <li><a href="" style="text-decoration: none;">Octobre 2022</a></li>
                            <li><a href="" style="text-decoration: none;">Novembre 2022</a></li>
                            <li><a href="" style="text-decoration: none;">Décembre 2022</a></li>
                        </ol>
                    </div>

                    <div class="p-4">
                        <h4 class="fst-italic">Autres liens</h4>
                        <ol class="list-unstyled">
                            <li><a href="" style="text-decoration: none;">GitHub</a></li>
                            <li><a href="" style="text-decoration: none;">Twitter</a></li>
                            <li><a href="" style="text-decoration: none;">Facebook</a></li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </main>
{% endblock %}