{% extends 'base.html.twig' %}

{% block title %}Equipe éducative{% endblock %}

{% block body %}

    <section class="jumbotron text-center">
        <div class="container">
            <h1 class="text-center text-uppercase m-4">Présentation de l'équipe</h1>
            <p class="lead text-muted">Créateurs de voyages authentiques et sur mesure, nos professionnels du tourisme
                vous apportent leur expertise et leurs connaissances sur chaque destination. N'attendez plus et
                construisez vos souvenirs dès maintenant avec nous.</p>
        </div>
    </section>
    <div class="py-5 team4">
        <div class="container">
            <div class="row justify-content-center mb-4">
                <div class="col-md-7 text-center">
                    <h3 class="mb-3">Une équipe d'expert de haut niveau à votre côté</h3>
                    <h6 class="subtitle">Nous faisons de votre sécurité notre priorité. Cela passe par le strict respect
                        de la réglementation sociale et européenne dans les transports routiers de voyageurs, mais
                        également par l’encadrement de votre groupe tout au long du voyage scolaire.</h6>
                </div>
            </div>
            <div class="row">
                <!-- column  -->
                <div class="col-lg-3 mb-4">
                    <!-- Row -->
                    <div class="row">
                        <div class="col-md-12">
                            <img src="https://www.wrappixel.com/demos/ui-kit/wrapkit/assets/images/team/t3.jpg"
                                 alt="wrapkit" class="img-fluid rounded-circle"/>
                        </div>
                        <div class="col-md-12 text-center">
                            <div class="pt-2">
                                <h5 class="mt-4 font-weight-medium mb-0">Bruno Louis</h5>
                                <h6 class="subtitle mb-3">Directeur</h6>
                                <p>Responsable des objectifs commerciaux de l'agence, lesquels sont fixés par la
                                    direction régionale. Il doit veiller à la rentabilité de ses opérations.</p>
                                <ul class="list-inline">
                                    <li class="list-inline-item"><a href="#"
                                                                    class="text-decoration-none d-block px-1"><i
                                                    class="icon-social-facebook"></i></a></li>
                                    <li class="list-inline-item"><a href="#"
                                                                    class="text-decoration-none d-block px-1"><i
                                                    class="icon-social-twitter"></i></a></li>
                                    <li class="list-inline-item"><a href="#"
                                                                    class="text-decoration-none d-block px-1"><i
                                                    class="icon-social-instagram"></i></a></li>
                                    <li class="list-inline-item"><a href="#"
                                                                    class="text-decoration-none d-block px-1"><i
                                                    class="icon-social-behance"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!-- Row -->
                </div>
                <!-- column  -->
                <!-- column  -->
                <div class="col-lg-3 mb-4">
                    <!-- Row -->
                    <div class="row">
                        <div class="col-md-12">
                            <img src="https://www.wrappixel.com/demos/ui-kit/wrapkit/assets/images/team/t2.jpg"
                                 alt="wrapkit" class="img-fluid rounded-circle"/>
                        </div>
                        <div class="col-md-12 text-center">
                            <div class="pt-2">
                                <h5 class="mt-4 font-weight-medium mb-0">Emilie Nicole</h5>
                                <h6 class="subtitle mb-3">Secrétariat</h6>
                                <p>La secrétaire facilite le travail
                                    de la direction de l'entreprise. Elle organise son travail en fonction des besoins
                                    de
                                    la personne qu'elle assiste.</p>
                                <ul class="list-inline">
                                    <li class="list-inline-item"><a href="#"
                                                                    class="text-decoration-none d-block px-1"><i
                                                    class="icon-social-facebook"></i></a></li>
                                    <li class="list-inline-item"><a href="#"
                                                                    class="text-decoration-none d-block px-1"><i
                                                    class="icon-social-twitter"></i></a></li>
                                    <li class="list-inline-item"><a href="#"
                                                                    class="text-decoration-none d-block px-1"><i
                                                    class="icon-social-instagram"></i></a></li>
                                    <li class="list-inline-item"><a href="#"
                                                                    class="text-decoration-none d-block px-1"><i
                                                    class="icon-social-behance"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!-- Row -->
                </div>
                <!-- column  -->
                <!-- column  -->
                <div class="col-lg-3 mb-4">
                    <!-- Row -->
                    <div class="row">
                        <div class="col-md-12">
                            <img src="https://www.wrappixel.com/demos/ui-kit/wrapkit/assets/images/team/t1.jpg"
                                 alt="wrapkit" class="img-fluid rounded-circle"/>
                        </div>
                        <div class="col-md-12 text-center">
                            <div class="pt-2">
                                <h5 class="mt-4 font-weight-medium mb-0">Jean-Claude Denayer</h5>
                                <h6 class="subtitle mb-3">Comptabilité</h6>
                                <p>Il vérifie l'enregistrement des données commerciales ou financières afin d'établir le
                                    compte d'exploitation nécessaire à la bonne gestion de l'entreprise.</p>
                                <ul class="list-inline">
                                    <li class="list-inline-item"><a href="#"
                                                                    class="text-decoration-none d-block px-1"><i
                                                    class="icon-social-facebook"></i></a></li>
                                    <li class="list-inline-item"><a href="#"
                                                                    class="text-decoration-none d-block px-1"><i
                                                    class="icon-social-twitter"></i></a></li>
                                    <li class="list-inline-item"><a href="#"
                                                                    class="text-decoration-none d-block px-1"><i
                                                    class="icon-social-instagram"></i></a></li>
                                    <li class="list-inline-item"><a href="#"
                                                                    class="text-decoration-none d-block px-1"><i
                                                    class="icon-social-behance"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!-- Row -->
                </div>
                <!-- column  -->
                <!-- column  -->
                <div class="col-lg-3 mb-4">
                    <!-- Row -->
                    <div class="row">
                        <div class="col-md-12">
                            <img src="https://www.wrappixel.com/demos/ui-kit/wrapkit/assets/images/team/t4.jpg"
                                 alt="wrapkit" class="img-fluid rounded-circle"/>
                        </div>
                        <div class="col-md-12 text-center">
                            <div class="pt-2">
                                <h5 class="mt-4 font-weight-medium mb-0">Vanessa natalie</h5>
                                <h6 class="subtitle mb-3">Facturation</h6>
                                <p>Elle travaille en collaboration avec le service commercial et le service recouvrement
                                    est
                                    chargé de mettre en œuvre, de suivre, le cadre
                                    budgétaire.</p>
                                <ul class="list-inline">
                                    <li class="list-inline-item"><a href="#"
                                                                    class="text-decoration-none d-block px-1"><i
                                                    class="icon-social-facebook"></i></a></li>
                                    <li class="list-inline-item"><a href="#"
                                                                    class="text-decoration-none d-block px-1"><i
                                                    class="icon-social-twitter"></i></a></li>
                                    <li class="list-inline-item"><a href="#"
                                                                    class="text-decoration-none d-block px-1"><i
                                                    class="icon-social-instagram"></i></a></li>
                                    <li class="list-inline-item"><a href="#"
                                                                    class="text-decoration-none d-block px-1"><i
                                                    class="icon-social-behance"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!-- Row -->
                </div>
            </div>
        </div>
    </div>
{% endblock %}