/* Footer */
footer {
    margin-top: 30px;
    padding: 20px 0;
    border-top: 1px solid #dfdfdf;
    text-align: center;
    bottom: 0;
    left: 0;
    right: 0;
}

footer h4 {
    padding-bottom: 1.2rem;
}

footer a {
    padding: 1rem;
    font-size: 1.4rem;
    text-decoration: none;
}

footer a:hover {
    text-decoration: none;
}